* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:monospace;
}

.content {
  width: 22vw;
  height: 450px;
  float: left;
  margin: 1.5vw;
  padding: 2vw 0;
  position: relative;
  border: 1px dashed black;
}


.content img {
  width: 90%;
  margin-left: 5%;
}
.content iframe{
  width: 90%;
  margin-left: 5%;
}

.content-text{
  position: absolute;
  bottom: 5%;
  padding: 0 2vw;
}

#articles {
  clear: both;
}
.title img {
  float: left;
  width: 15vw;
  padding: 1vw;
}

.title img {
  width: 8vw;
}

.nav {
  float: right;
}

ul li{
  display: inline-block;
  padding: .5vw;
}

.headers {
  clear: both;
  text-align: center;
}
/*iframe {
  width:100%;
  height: 100%;
  resize: both;
  overflow: auto;
}


.iresize {
  height: 20vh;

}*/


@media (max-width:920px) and (min-width: 670px){
  .nav {
    float: left;
    clear: left;
    margin: 1vw;
  }

  ul li {
    display: block;
    color: grey;
    /*text-align: right;*/
    font-size: 25px;
    border-bottom: 1px solid lightgrey;

  }

  .headers {
    font-size: 3vw;
    float: left;
    clear: right;
    margin: 20px 5px;
    position: relative;
    bottom: 50px;
    left: 11vw;
    background-color: gold;
  }
  .content {
    width: 44vw;
    margin: 2.5vw;
  }
}


@media (max-width: 670px) {

  .content {
    width: 88vw;
    margin: 2.5vw;
    height: 360px;
  }
  .nav{
    color: white;
    background-color: none;
    clear: right;
    padding-top: 2vw;
    width: 85vw;
  }
  ul li {
    display: inline-block;
    /*text-align: right;*/
    font-size: 15px;
    width: 31%;
    text-align: center;
    background-color: #670e67;
  }

  .headers {
    font-size: 3vw;
    float: left;
    clear: right;
    margin: 20px;
    position: relative;
    top: 10px;
    left: 5vw;
    background-color: gold;

  }

  .top {
    background-color: purple;
    width: 100%;
    height: 50px;
  }

}
